a {
  background-color: transparent !important;
  color: #F0F3BD !important;
  text-decoration: none !important;
}

.separator{
  padding-top:20px;
}

.col-side{
  padding-left: 50px !important;
}

.side-nav{
  background-color: #395E66;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 10%;
}

.side-nav-link:hover{
  background: #4A5043;
}

.side-list{
  margin-top:20px;
}

.app-area{
  float:right;
  width:90%;
  height:100vh;
  background-color: #32936F;
}

.table-hover tbody tr:hover td {
  background-color: #395E66;
}

.table-hover tbody tr:hover th {
  background-color: #32936F;
}


